<!DOCTYPE HTML>
<html>
  <head>
    <meta charset = "utf-8">
    <title> Site Under Maintenance </title>
  </head>
  <body>
    <h1> We will be right back!! </h1>
    <p> The site is currently getting updated, we will be back soon :) </p>
    {{> footer}}
  </body>
</html>
